<div class="outside_wrapper">

  <header>
    <ul>
      <li class="first"><%= link_to "Twitter", "https://twitter.com/RoyStanfield"%></li>
      <li><%= link_to "Instagram", "http://instagram.com/roystanfield" %></li>
      <li class="last"><%= mail_to "roystanfield@gmail.com"%></li>
    </ul>
  </header>

  <h1>
    Roy Stanfield is a web and native app designer working for <%= link_to "Airbnb", "https://www.airbnb.com/" %>, <span class="no_wrap">in San Francisco</span>
  </h1>

  <section class="writing">

    <p>
      I work on Airbnb&apos;s Design Language System team (DLS). Our small collaborative group blends product team knowledge and in-house art direction into a singular set of reusable components.
    </p>
    
    <h2>Airbnb&apos;s design language system</h2>
    <p>
      On the DLS team we strive to eliminate platform specificity in our components so that Airbnb&apos;s UI is as similar as possible across Android, iOS, and responsive web. This way a designer can create for just one platform and in a single device size (mobile first) while still being certain that their design will perform on all platforms. These same benefits extend to Airbnb&apos;s developers who use DLS components to quickly assemble front-end code. And since platform specificity has been reduced our React Native features require very little fuss to run in both Android and iOS.
    </p>

    <h2>While at Etsy (2012-2016)</h2>
    <p>
      Before Airbnb, I worked at Etsy in Brooklyn. While there I created designs for iOS, Android and the responsive web, and worked with teams that prioritize testing and user research to make product decisions. Along the way I created mockups, designed with code and prototyped animations all while advocating for Etsy to embrace emergent native technologies. The whole experience highlighted the importance of eliminating barriers between designers, engineers, product managers, product marketing managers and executives.
    </p>

    <p class="next_p">
      At Etsy I am proud to have redesigned Etsy sellers&apos;s shop home and admin experience on both web and native platforms, to have co-created the Sell on Etsy app, pushed for Etsy to become an Apple Watch launch partner, and to have advocated for Etsy to create their own Apple TV app.
    </p>

    <h2>Personal projects</h2>
    <p>
      I&apos;m currently learning React and brushing up on ES6 in the mornings, and I&apos;ve recenly finished an exploratory redesign of Apple&apos;s Remote app &ndash; that integrates Siri and new social annotation features with Apple TV and iTunes media. 
    </p>

    <p class="next_p">
      I&apos;m a proud father and start my day changing diapers and riding my bike to work. Hey, if you see a nice car in the city streets, please add it to <a href="https://www.instagram.com/explore/tags/roysgarage/">#roysgarage</a> on <a href="https://www.instagram.com/roystanfield/">Instagram</a>. 
    </p>

  </section>
</div>


<!-- <h1>
  Practice, be generous, create accessible work, and design every day… it’s fun!
</h1> -->