    <div class="post mixel_acquired_by_etsy">

      <div class="copy">
        <div class="image_wrapper">
          <%= responsive_image_tag("/images/mixel_web_iphone.jpg", :'1x' => "/images/mixel_web_iphone.jpg", :'2x' => "/images/mixel_web_iphone@2x.jpg") %>
        </div><!-- .image_wrapper -->

        <h2>Mixel acquired by Etsy!</h2>
        
        <div class="columns">
          <p>“Not everyone has an iPad.” We heard this over and over again, and we knew it was true. Khoi would give a talk to a room full of excited design buffs but only a fraction owned iPads. Worse still, no one in the room actually had their iPads with them. If Mixel wasn’t immediatly downloadable, well then… it wouldn’t get installed. That’s why we decided to build Mixel for iPhone.</p>

          <p>We started by porting the Mixel for iPad desgins to the iPhone. But we found that pulling images from the web while on  a 4G cellular network or trying to make a detailed crop with your finger on the tiny iPhone screen were serious road blocks.</p>

          <p>So we re-thought the whole thing. Mixel for iPhone became more personal. We prompted users to pull images from their phones. We reworked the idea of the Mixel “remix” into a more appropriate “album” concept that your friends from the network could add on to. People have responded with over 160,000 mixels!</p>
        </div><!-- .columns -->
      </div><!-- .copy -->
    </div><!-- .post -->