$body-color: #fff;

$body-copy-color: #333;
$anchor-link-color: #09f;
$body-copy-family: Georgia, serif;
$li-color: #666;

$headlines-family: "apertura-1", "apertura-2", "Helvetica Neue", Helvetica, Arial, sans-serif;


body {
  background: $body-color;
  position: relative;
}

.no_wrap {
  white-space: nowrap;
}

a {
  color: $anchor-link-color;
  text-decoration: none;
  &:hover {text-decoration: underline;}
  &:visited {color: $anchor-link-color;}
}

h1,
h2 {
  font-family: $headlines-family;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 25px auto;
  width: 280px;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 33px 0;
  display: none;
}

h4 {
  text-align: center;
  font-family: $headlines-family;
  color: $body-copy-color;
  font-size: 12px;
  margin: 0;
  display: none;
}

p {
  font-family: $body-copy-family;
  color: $body-copy-color;
  font-size: 18px;
  line-height: 26px;
  text-indent: 30px;
  margin: 0;
}

#artwork_link {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: white;
  text-indent: -9999px;
}

header .contact {
  padding: 0;
  width: 212px;
  margin: 15px auto 0 auto;
  overflow: hidden;
}

header .contact li {
  color: $li-color;
  list-style: none;
  float: left;
  margin: 0 20px 0 0;
  a {
    display: block;
    text-indent: -9999px;
    width: 38px;
    height: 39px;
    background: url('/images/sprites.png') 0 0 no-repeat;
    &:hover {background-position: 0 -39px;}
    &:active {background-position: 0 -38px;}
  }
}

header .contact li.twitter a {
  background-position: -38px 0;
  &:hover {background-position: -38px -39px;}
  &:active {background-position: -38px -38px;}
}

header .contact li.svbtle a {
  background-position: -114px 0;
  &:hover {background-position: -114px -39px;}
  &:active {background-position: -114px -38px;}
}

header .contact li.dribbble a {
  background-position: -76px 0;
  &:hover {background-position: -76px -39px;}
  &:active {background-position: -76px -38px;}
}

header .contact li:last-child {
  margin-right: 0;
}

.post {
  margin: 30px 10px 80px 10px;
  img {
    display: block;
    width: 100%;
    margin: 0 auto 10px auto;
  }
}

#info {
  margin: 0;
  font-family: $headlines-family;
  overflow: hidden;
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
  .inner_wrapper {
    width: 300px;
    overflow: hidden;
    margin: 20px auto 0 auto;
  }
  .wrapper {
    font-size: 18px;
    line-height: 24px;
    ul {
      margin: 0 0 24px 0;
      padding: 0;
    }
    li {
      color: $li-color;
      text-align: center;
      list-style: none;
    }
  }
  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  #close_info {
    text-align: center;
    margin-bottom: 35px;
    a {
      background: $anchor-link-color;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
      padding: 7px 20px 7px 20px;
    }
    a:hover {
      background: #333;
      text-decoration: none;
    }
  }
}

#info.hide {
  height: 0;
}

#info.show{
  height: 885px;
}

footer #to_top {
  margin-top: 20px;
  font-family: $headlines-family;
  text-align: center;
  margin-bottom: 35px;
  a {
    background: $anchor-link-color;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 20px 7px 20px;
  }
  a:hover {
    background: #333;
    text-decoration: none;
  }
}

footer {
  overflow: hidden;
  position: relative;
  height: 120px;
}

footer #cat_graphic {
  position: absolute;
  bottom: 0;
  left: -20px;
  margin-bottom: 0;
  z-index: 20;
}

footer #color_bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 20px;
   /* fallback/image non-cover color */
   background-color: $anchor-link-color;

   // /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   // background-image: -webkit-linear-gradient(left, #ff0012, #ff00d8, #0018ff, #00ff30, #e4ff00, #ff7200); 

   // /* Firefox 3.6+ */
   // background-image: -moz-linear-gradient(left, #ff0012, #ff00d8, #0018ff, #00ff30, #e4ff00, #ff7200);
 
   // /* IE 10+ */
   // background-image: -ms-linear-gradient(left, #ff0012, #ff00d8, #0018ff, #00ff30, #e4ff00, #ff7200);

   // /* Opera 11.10+ */
   // background-image: -o-linear-gradient(left, #ff0012, #ff00d8, #0018ff, #00ff30, #e4ff00, #ff7200);
}

#artworks {
  header {
    margin-bottom: 20px;
  }
  h1 {
    line-height: 64px;
  }
}

#artwork_wrapper {
  .post {
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  h3 {
    margin-top: 0;
    padding: 10px 0;
    background: white;
    font-family: apertura-1, apertura-2, Helvetica, Arial;
    text-align: center;
    width: 100px;
  }
  .floating_header {
    position: fixed;
    top: 0;
    visibility: hidden;
  }
} 


@media only screen and (min-width: 420px){

  h1 {
    font-size: 40px;
    line-height: 46px;
    width: 90%;
  }

  h2 {
    font-size: 40px;
    line-height: 46px;
    display: block;
  }

  h4 {
    display: block;
  }

  .post {
    margin: 30px 10% 80px 10%;
    img {
      width: 98%;
      margin: 0 auto 40px auto;
    }
  }

  .post.mixel_acquired_by_etsy img {
    margin-bottom: 15px;
  }

  .post.osr .logo {
    margin: 80px 0 70px 0;
  }
}


@media only screen and (min-width: 768px){

  h1 {
    font-size: 50px;
    line-height: 56px;
    width: 90%;
  }

  h2 {
    font-size: 40px;
    line-height: 46px;
  }

  h4 {
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  header .contact {
    margin: 25px auto 0 auto;
  }

  .post {
    margin: 30px 10% 150px 10%;
  }

  .post.osr {
    margin-bottom: 100px;
  }
}


@media only screen and (min-width: 860px){

  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  footer #cat_graphic {
    left: 60px;
  }
}


@media only screen and (min-width: 960px){

  h1,
  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .little_frame h2,
  .sound_and_vision h2,
  .cloud_assassin h2,
  .sell_on_etsy h2 {
    font-size: 54px;
    line-height: 56px;
  }

  h1 {
    width: 840px;
    margin: 40px auto 0 auto;
  }

  header {
    margin-bottom: 45px;
  }

  #info {
    .inner_wrapper {
      width: 760px;
      margin-top: 45px;
      .left_side {
        float: left;
        margin-right: 20px;
      }
      .right_side {
        float: left;
      }
    }
    .wrapper {
      width: 360px;
      ul {
        float: left;
        width: 70%;
      }
      li {
        text-align: left;
        width: 280px;
      }
    }
    h3 {
      width: 80px;
      float: left;
      text-align: right;
      margin: 0 20px 0 0;
    }
  }

  #info.show{
    height: 465px;
  }

  .post {
    margin: 30px 10% 190px 10%;
  }

}


@media only screen and (min-width: 1080px){

  .columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

}


@media only screen and (min-width: 1510px){

  
  .post {
    width: 1180px;
    margin: 30px auto 220px auto;
    img {
      width: 1180px;
      margin: 0 0 40px 0;
    }
  }
}


@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  header .contact li a {
    background-image: url("/images/sprites@2x.png");
    background-size: 152px 78px;
  }

  .sell_on_etsy h2 {
    font-size: 60px;
    line-height: 62px;
  }
}




