$body-color: #fff;
$headline-color: #222;
$body-copy-color: #222;
$caption-color: #999;
$li-color: #222;
$anchor-link-color: #222;
$footer-link-color: #222;
$body-copy-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
$headlines-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Light", "Helvetica", Arial, sans-serif;

$body-copy-color-on-color-bg: #222;
$anchor-link-color-on-color-bg: #222;

$etsy-body-color: #fff;


html {
  font-size: 18px;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: $body-copy-family;
}

img {
  width: 100%;
}

.no_wrap {
  white-space: nowrap;
}

.outside_wrapper {
  background: $etsy-body-color;
}

a {
  color: $anchor-link-color-on-color-bg;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0 , 0.15);
  &:hover {border-bottom: 1px solid rgba(0, 0, 0 , 0.8);}
  &:visited {color: $anchor-link-color-on-color-bg;}
}

h1 {
  margin: 40px auto;
  padding: 0 4%;
  font-style: normal;
  font-weight: 100;
  font-family: $headlines-family;
  color: $headline-color;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -ms-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $body-copy-color-on-color-bg;
  font-family: $body-copy-family;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 1rem;
  list-style: none;
  line-height: 1.6rem;
  color: $body-copy-color-on-color-bg;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  display: none;
  font-size: 0.77rem;
  margin-top: 32px;
  text-align: center;
  color: $caption-color;

  a {
    color: $caption-color;
  }
}

.desktop {
  display: none;
}

.writing {
  margin: 0 8%;

  p {
    margin: 40px auto;
  }

  .soe_image_container {
    width: 86%;
    margin-left: 7%;
  }
}

footer {
  background-color: #000;
  padding: 32px 0 32px 0;
  margin-top: 64px;

  li {
    text-align: center;
  //   float: left;
    font-size: 1rem;
    padding: 7px 32px;
  }

  a {
    color: $etsy-body-color;
    &:hover {border-bottom: none;}
    &:visited {color: $etsy-body-color;}
  }
}






@media only screen and (min-width: 680px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  h1 {
    margin: 48px auto;
    font-size: 2.44rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.22rem;
    line-height: 2rem;
    margin-bottom: 48px; 
  }

  .caption {
    display: block;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .writing {
    p {
      width: 600px;
      margin-bottom: 48px;
    }

    .soe_image_container {
      margin-left: 0%;
      width: auto;

      img {
        padding-left: 13%;
        margin: 32px auto 8px auto;
        width: 526px;
      }
    }
  }

}


@media only screen and (min-width: 840px) {

  .writing {

    .soe_image_container {

      img {
        padding-left: 18%;
      }
    }
  }

}





@media only screen and (min-width: 1044px) {

  h1 {
    width: 900px;
    margin: 60px auto;
  }

  .content_wrapper {
    width: 900px;
    margin: 0 auto;
  }

  .writing {
    p {
      margin-top: 60px;
      margin-bottom: 48px;
    }

    .soe_image_container {
      margin-top: 16px;

      img {
        padding-left: 220px;
        margin: 32px auto 8px auto;
        width: 526px;
      }
    }
  }

  footer {
    margin-top: 96px;
    padding: 14px 0 9px 0;
    height: 50px;

    ul {
      width: 980px;
      margin: 0 auto;
    }

    li {
      float: left;
      padding: 7px 32px;
    }

    li.first {
      margin-left: 106px;
    }
  }


}

@media only screen and (min-width: 1140px) {

  .writing {

    .apple_watch_image_container {
      position: relative;
      margin-top: 60px;
      margin-bottom: 76px;

      .caption {
        position: absolute;
        width: 250px;
        text-align: left;
        bottom: 220px;
        right: 16px;
        z-index: 10;
      }
    }
  }

}















