$body-color: #fff;
$headline-color: #222;
$body-copy-color: #222;
$li-color: #222;
$anchor-link-color: #09f;
$footer-link-color: #222;
$body-copy-family: "proxima-nova", "Helvetica", Arial, sans-serif;
$headlines-family: "proxima-nova", "Helvetica", Arial, sans-serif;

$headline-color-on-color-bg: #fff;
$body-copy-color-on-color-bg: #bbb;
$anchor-link-color-on-color-bg: #fff;

$etsy-body-color: #000;
$fb-body-color: #ef4035;
$capsule-body-color: #27ab31;
$mixel-body-color: #19B5FE;


// Temp work for Type Test

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#type_test {
  margin-top: 0;
}

#type_test p {
  font-size: 14px;
  line-height: 24px;
  font-family: Helvetica, Arial, sans-serif;
  color: $body-copy-color-on-color-bg;
}

#type_test .sixteen p {
  font-size: 16px;
}

.type_test_container {
  max-width: 600px;
  margin: 0 auto;
  clear: left;
  padding: 20px 16px;
}

#type_test ul {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
} 

#type_test li {
  float: left;
}

#type_test li a {
  color: $anchor-link-color;
  border-bottom: 4px solid #fff;
  padding: 20px;
} 

#type_test li a.on_state {
  border-bottom: 4px solid #09f;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: $body-copy-family;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.no_wrap {
  white-space: nowrap;
}

.outside_wrapper {
  background: $etsy-body-color;
  padding-top: 48px;
  padding-bottom: 1px;
  padding-bottom: 21px;
}

.content_wrapper {
  position: relative;
  width: 84%;
  margin: 0 8%;
}

a {
  color: $anchor-link-color-on-color-bg;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255 , 0.25);
  &:hover {border-bottom: 2px solid rgba(255, 255, 255 , 0.5);}
  &:visited {color: $anchor-link-color-on-color-bg;}
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-family: $headlines-family;
  color: $headline-color-on-color-bg;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  margin-top: 0px;
}

h3, p {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 50px 0;
  color: $body-copy-color-on-color-bg;
  font-family: $body-copy-family;
}

h3 {
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  list-style: none;
  line-height: 30px;
  color: $body-copy-color-on-color-bg;
}

header {
  height: 56px;
  position: relative;
  background-color: #fff;
}

header .header_image_container {
  margin: 0 auto;
  width: 100px;
}

.writing {
  margin-top: 32px;
  padding-bottom: 8px;
}

#single_image_for_phones {
  width: 270px;
  margin: 50px auto 38px auto;
}

#single_image_for_phones img {
  width: 100%;
}

#single_image_for_phones p {
  margin: 24px 0 0 0;
  font-size: 14px;
  text-align: center;
}

#carousel_wrapper {
  display: none;
}

footer {
  background-color: #fff;
  margin: 21px 0 0 0;
  padding: 26px 0 47px 0;

  li {
    text-align: center;
  }

  a {
    color: $etsy-body-color;
    &:hover {border-bottom: none;}
    &:visited {color: $etsy-body-color;}
  }
}





@media only screen and (min-width: 768px) {

  // header {
  //   display: none;
  // }

  body {
    margin: 0;
    background-color: #fff;
    font-family: $body-copy-family;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  a {
    color: $anchor-link-color-on-color-bg;
    &:visited { color: $anchor-link-color-on-color-bg; }
  }

  h1 {
    font-size: 48px;
    line-height: 68px;
    margin-bottom: 64px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    color: $body-copy-color-on-color-bg;
  }

  .outside_wrapper {
    padding-top: 76px;
  }

  .content_wrapper {
    width: 84%;
    margin: 0 8%;
  }

  body.etsy {
    .outside_wrapper { background-color: $etsy-body-color; }

    footer a, footer a:visited { color: $etsy-body-color; }
    footer a:hover {
      border-bottom: 1px solid $etsy-body-color;
    }
  }

  body.fb {
    .outside_wrapper { background-color: $fb-body-color; }

    footer a, footer a:visited { color: $fb-body-color; }
    footer a:hover {
      border-bottom: 1px solid $fb-body-color;
    }
  }

  body.capsule {
    .outside_wrapper { background-color: $capsule-body-color; }

    footer a, footer a:visited { color: $capsule-body-color; }
    footer a:hover {
      border-bottom: 1px solid $capsule-body-color;
    }
  }

  body.mixel {
    .outside_wrapper { background-color: $mixel-body-color; }

    footer a, footer a:visited { color: $mixel-body-color; }
    footer a:hover {
      border-bottom: 1px solid $mixel-body-color;
    }
  }

  #single_image_for_phones {
    display: none;
  }

  .writing {
    border-bottom: none;
    margin-bottom: 64px;
    padding-bottom: 0;
  }

  #carousel_wrapper {
    display: block;
    width: 100%;
    height: 680px;
    clear: left;
    margin-top: 70px;
    margin-bottom: 52px;

      ul {
        padding: 0;

          li {
            float: left;
            list-style: none;
          }
      }
  }

  #carousel_wrapper .image_wrapper {
    width: 420px;
    margin: 0 auto;

      ul {
        padding-top: 8px;

          li {
            position: absolute;
            font-family: $body-copy-family;
            text-align: center;
            opacity: 0;
            z-index: 0;

              p {
                font-size: 12px;
                color: rgba(187, 187, 187, 0.8);
              }

              img {
                margin-bottom: 12px;
              }
          }
      }
  }

  #carousel_wrapper .image_wrapper li.transition {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 1;
    z-index: 10;
  }

  #carousel_wrapper .app_icon_wrapper {
    width: 518px;
    margin: 651px auto 0 auto;
    z-index: 0;

      ul {
        float: left;
        margin-top: 48px;
      }

      li {
        margin: 0 64px 0 0;

          span {
            display: block;
            width: 80px;
            height: 8px;
            margin: 0 0 16px 0;
            background: transparent url('../images/dot.png') no-repeat 36px 0;
          }
      }
      .last {
        margin-right: 0;
      }

      img {
        // -webkit-transform: scale(0.9, 0.9);
        // -moz-transform: scale(0.9, 0.9);
        // -o-transform: scale(0.9, 0.9);
        // transform: scale(0.9, 0.9);
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
      }

      img:hover {
        // -webkit-transform: scale(1, 1);
        // -moz-transform: scale(1, 1);
        // -o-transform: scale(1, 1);
        // transform: scale(1, 1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      img:active {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        -webkit-transition: translate 0.1s ease-in-out;
        -moz-transition: translate 0.1s ease-in-out;
        -o-transition: translate 0.1s ease-in-out;
        transition: translate 0.1s ease-in-out;
      }
  }

  footer {
    padding: 34px 0 64px 0;
    margin: 0;

    ul {
      width: 622px;
      margin: 0 auto;
      padding: 0;

        li {
          list-style: none;
          float: left;
          color: #ccc;
          padding-right: 64px;
          font-size: 16px;

        }
        .last {
          padding-right: 0;
        }
    }
  }

  #carousel_wrapper .app_icon_wrapper li span.hide {
    background-image: none;
  }

}















@media only screen and (min-width: 860px) {

  .content_wrapper {
    width: 810px;
    margin: 0 auto;
  }

  h1 {
    font-size: 58px;
    line-height: 72px;
  }

  p {
    font-weight: 300;
    margin-right: 85px;
    margin-left: 85px;
  }

  .writing {
    margin-bottom: 80px;
  }

}




@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  #carousel_wrapper .app_icon_wrapper li span {
    background: transparent url('../images/dot@2x.png') no-repeat 36px 0;
    background-size: 8px;
  }
}